.app-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-holder {
  width: 25rem;
  border-top: 2px solid #ff00f5;
  margin: 1rem;
}

.category-header {
  width: 25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-holder {
  display: flex;
  flex-direction: row;
}
